
$blue: #067ab4;
$white: #fff;
$light-grey: #d3d3d3;

* {
  border: 0px solid #fe0000;
}

body {
  background-color: #e7e7e7;
}

#container {
  margin: 10px 0 0 20px;
}

.container {
  margin: 0;
}

.text-center {
  text-align: center;
}

.mainbar-header,
.mainbar-header a {
  color: $light-grey;
  width: 100%;

  ul {
    margin-top: 10px;

    li{
      color: $white;
      list-style-type: none;
      font-family: Arial;
      font-style: italic;
      font-size: 11px;
      padding-left: 9px;
      display: inline;

      a {
        color: $white;
        text-decoration: none !important;
        font-size: 16px;

        &:hover {
          color: $light-grey;
          border-bottom: 1px $white dotted;
        }
      }
    }
  }
}

.mainbar-fix-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: $blue;
    position: left;

    span {
        font-family: Arial;
        font-size: 12px;
        color: $white;

        a {
          color: $light-grey;
          text-decoration: underline;
        }
    }
}

.form-container {
  top: 200px;
  left: 300px;
}

.section-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sign-form {

  h4 {
    margin-top:30px;
  }

  a {
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #fe0000;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    line-height: 16px;
    margin-top: 35px;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
  }
}

#clearance {
  @extend .intro;

  label {
    margin-top: 25px;
  }
}


input {
  display: block;
  width: 350px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: $white;
  background-image: none;
  border: 1px solid $blue;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: $blue;
  text-align: center;
  color: $white;
  border-radius: 5px;
  line-height: 16px;
  margin-top: 35px;
  margin-bottom: 30px;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  width: auto;
}
