<h1>Add new Image</h1>

<% if signed_in? %>
  <%= form_for @image, :html => { :multipart => true } do |form| %>
	  <%= form.file_field :file %>
	  <%= form.submit %>
	<% end %>
<% else %>
  <h2>You need to <%= link_to 'Sign in', sign_in_path %></h2>
<% end %>
